<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>CustomerList</title>
</head>
<body>
<a href="/customers/add">Create new customer</a>
    <table id="customers" border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.getName()}"></td>
                <td th:text="${customer.getEmail()}"></td>
                <td th:text="${customer.getAddress()}"></td>
                <td><a th:href="@{customers/edit/__${customer.id}__ }">Edit</a></td>
                <td><a th:href="@{/customers/delete/__${customer.id}__ }">Delete</a></td>
            </tr>
        </tbody>

    </table>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>